<a ng-href="#/investment/{{investment.investment_id}}" class="nolink">
    <span ng-show="investment.invested" class="invested_tag">INVESTED</span>
    <div ng-if="investment.images.length" class="image" ng-style="{'background-image': 'url(/assets/images/investments/inv_' + investment.investment_id + '/img_' + investment.images[0].name + '.jpg)', 'transform': 'rotate(' +  investment.images[0].settings.rotation + 'deg)', 'background-position': investment.images[0].settings.position}"></div>
    <div ng-if="!investment.images.length" class="image"></div>
    <investment-content>
        <h2 class="headless">{{investment.name}} ({{investment.dob | dobToAge}})</h2>
        <p>{{investment.address}}, {{investment.city}}, {{investment.country}}</p>
        <p>{{investment.description | limitTo: 80}}...</p>
        <hr class="small">
        <progress-box>
            <p>Progress: <b>{{investment.amount_invested | convert | currency: currency.sign}} / {{investment.amount_needed | convert | currency: currency.sign}}</b></p>
            <inv-progress>
                <progress-fill ng-style="{'width': investment.amount_invested / investment.amount_needed * 100 + '%'}"></progress-fill>
                <p>{{(investment.amount_invested / investment.amount_needed * 100).toFixed()  + '%'}}</p>
                <clearfix></clearfix>
            </inv-progress>
        </progress-box>
        <hr class="small">
        <button class="centerbutton">More info</button>
    </investment-content>
</a>
