<space-limiter>

<h1>Checkout</h1>

<form name="checkoutForm" ng-submit="checkoutForm.$valid && checkout()" ng-show="cart.data.items.length" novalidate>

    <div ng-include="'/assets/html/elements/personal_details.html'"></div>

	<div ng-show="!customerinfo.user_id">
		<flex>
			<inputContainer>
				<input type="text" ng-model="customerinfo.personal_info.email" ng-required="!customerinfo.user_id">
				<label>Email</label>
			</inputContainer>
			<inputContainer>
				<input type="password" ng-model="customerinfo.personal_info.password" ng-required="!customerinfo.user_id">
				<label>Create a password</label>
			</inputContainer>
		</flex>
	</div>
	<hr>
    <flex>
        <div>

            <h2>Total: {{cart.total() | convert | currency : currency.sign}}</h2>

        </div>
        <div>
            <button ng-show="cart.data.items.length">Confirm order</button>
        </div>
    </flex>

</form>

<div ng-show="!cart.data.items.length">
    <h2>The cart is empty</h2>
    <a href="#/" class="button floatleft">Home</a>
</div>

</space-limiter>
