<space-limiter>

<h1>Checkout</h1>

<form name="checkoutForm" ng-submit="checkoutForm.$valid && checkout()" ng-show="cart.data.items.length" novalidate>

    <hr class="small">
    <div ng-show="!customerinfo.user_id">
        <h2 class="bottomless">Login</h2>
        <p>Please login if you already have an account on dignity and hope</p>
        <button class="floatnone" ng-click="show_login()" type="button">Login</button>
        <hr class="small">
        <h2 class="bottomless">or create a new account</h2>
        <flex>
            <inputContainer>
                <input type="text" ng-model="customerinfo.personal_info.email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,10}" ng-required="!customerinfo.user_id">
                <label>Email</label>
            </inputContainer>
            <inputContainer>
                <input type="password" ng-model="customerinfo.personal_info.password" ng-required="!customerinfo.user_id">
                <label>Create a password</label>
            </inputContainer>
        </flex>
        <hr class="small">
    </div>
    <div ng-include="'/assets/html/elements/personal_details.html'"></div>


	<hr>
    <flex>
        <div>

            <h2>Total: {{cart.total() | convert | currency : currency.sign}}</h2>

        </div>
        <div>
            <button ng-show="cart.data.items.length"><span ng-show="!customerinfo.user_id">Create account and </span>continue</button>
        </div>
    </flex>

</form>

<div ng-show="!cart.data.items.length">
    <h2>The cart is empty</h2>
    <a href="#/" class="button floatleft">Home</a>
</div>

</space-limiter>
