<space-limiter>
    <investment class="borderless">
        <flex>
            <div class="small">
                <div class="image"
                ng-style="{'background-image': 'url(/assets/images/investments/inv_' + investment.investment_id + '/img_' + investment.images[shown_image].name + '.jpg)',
                'transform': 'rotate(' +  investment.images[shown_image].settings.rotation + 'deg)',
                'background-position': investment.images[shown_image].settings.position}" ng-init="shown_image = 0">
                    <button ng-click="shown_image = shown_image + 1" ng-show="shown_image < investment.images.length - 1" class="floatright">></button>
                    <button ng-click="shown_image = shown_image - 1" ng-show="shown_image > 0" class="floatleft"><</button>
                </div>
                <div ng-if="!investment.images.length" class="image"></div>

                <div class="map"></div>

            </div>
            <div>
                <h1 class="bottomless">{{investment.name}} ({{investment.dob | dobToAge}})</h1>
                <h3 class="headless">{{investment.city}}, {{investment.country}}</h3>
                <p>Organization: <a ng-href="#/organization/{{investment.organization_id}}">{{investment.organization}}</a></p>

                <hr>
                <flex class="inv-money-box">
                    <div class="small">
                        <p>Total needed</p>
                        <h1>{{investment.amount_needed | convert | currency: currency.sign}}</h1>
                    </div>
                    <div class="small">
                        <p>Still needed</p>
                        <h1>{{investment.amount_needed - investment.amount_invested | convert | currency: currency.sign}}</h1>
                    </div>
                    <div>
                        <div class="floatleft invest_amount_box">
                            <input type="number" ng-model="invest_amount" ng-change="fixInvestmentAmount()" />
                            <label>Amount</label>
                        </div>
                        <div class="floatright invest_amount_box">
                            <button class="floatleft big fullwidth" ng-click="addToCart()">
                                <span ng-show="cart_item_info.data">Update</span>
                                <span ng-hide="cart_item_info.data">Invest</span>
                            </button>
                        </div>
                    </div>
                </flex>
                <progress-box>
                    <p>Progress:</p>
                    <inv-progress>
                        <progress-fill ng-style="{'width': investment.amount_invested / investment.amount_needed * 100 + '%'}"></progress-fill>
                        <progress-fill class="toAdd" ng-style="{'width': (invest_amount * currency.value).toFixed(1) / investment.amount_needed * 100 + '%'}"></progress-fill>
                        <p>{{investment.amount_needed / 100 * investment.amount_invested + '%'}}</p>
                        <clearfix></clearfix>
                    </inv-progress>
                </progress-box>
                <hr>

                <h2 class="bottomless">About {{investment.name}}</h2>
                <p ng-hide="readmore" class="headless">
                    <a href ng-click="readmore = true;" class="nolink">
                        {{investment.description | limitTo: 250}}... <b>Read more</b>
                    </a>
                    <clearfix></clearfix>
                    <br>
                </p>
                <p ng-show="readmore" class="headless">
                    {{investment.description}}
                </p>
                <clearfix></clearfix>
            </div>
        </flex>
    </investment>
    <hr>
    <comments>
        <h1>Comments:</h1>
        <h3>Coming soon!</h3>
    </comments>
</space-limiter>
