<space-limiter>
    <h2 class="floatleft">Featured</h2>
    <a href="#/all_investments" class="button">All investments</a>
    <clearfix></clearfix>
    <br>
    <investments>
        <investment ng-repeat="investment in investments.investments | limitTo: 3 track by $index" ng-if="investment.status == 'LIVE'" class="clickable" ng-include="'/assets/html/elements/investment.html'"></investment>
    </investments>
    <clearfix></clearfix>
    <hr>
    <h2 class="floatleft">Success stories</h2>
    <a href="#/success_stories" class="button">All success stories</a>
    <clearfix></clearfix>
    <br>
    <investments>
        <investment ng-repeat="investment in investments.ended_investments | limitTo: 3 track by $index" class="clickable" ng-include="'/assets/html/elements/ended_investment.html'"></investment>
    </investments>
</space-limiter>
