/*

Background: #ebf0f0
Main: #3597d3
Accent: #2880b8
Copy: #2c3e50
Red: #e84c3d

*/


/*Resets*/

body
{
    margin: 0;
}

html,
body,
input,
select,
textarea,
button
{
    font-size: 1em;
    color: #2c3e50;
    font-family: "Ubuntu", sans-serif;
}


/*Background*/

body
{
    background: #ebf0f0;
    color: #2c3e50;
}


/*Flex boxes*/

flex
{
    display: flex;
    width: 100%;
    transition: opacity .5s ease;
    position: relative;
}

flex > *
{
    flex-basis: 100%;
    margin-left: 2em;
}

flex > *.small
{
    flex-basis: 47.6%;
}

flex > *:first-child
{
    margin-left: 0;
}

flex > *:only-child
{
    margin-left: 0;
}


/*Prompts*/

prompt-bg
{
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 28;
    background-color: rgba(44, 62, 80, 0.8);
}

prompt
{
    position: fixed;
    z-index: 29;
    background-color: #fff;
    top: 10vh;
    min-height: 10em;
    width: 50%;
    left: 25%;
    padding: 1em;
}

close
{
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    width: 2em;
    height: 2em;
    background-color:#3597d3;
    cursor: pointer;
}

close::before,
close::after
{
    position: absolute;
    content: "";
    background: #ebf0f0;
    width: 0.1em;
    height: 1.5em;
    top: 0.25em;
    transform: rotate(45deg);
    left: 0.95em;
}

close::after
{
    transform: rotate(-45deg);
}

prompt > h2:first-of-type
{
    margin: 0;
}


/*prompts hover*/

close:hover
{
    background-color: #2880b8;
}


/*Wrapper*/

wrapper
{
    display: block;
    box-sizing: border-box;
    min-height: 100%;
}

.matchWrapper
{
    display: block;
    box-sizing: border-box;
}


/*Container*/

container
{
    display: block;
    transition: width .5s ease;
    overflow: hidden;
}

.open + container
{

    width: calc(100% - 20em);
}

space-limiter
{
    display: block;
    padding: 1em;
    margin: 0 auto;
    width: 70em;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
}


/*Hero banner*/

hero-banner
{
    display: block;
    color: #ebf0f0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

hero-content
{
    padding: 7em 2em;
    display: block;
    background-color: rgba(44, 62, 80, 0.4);
    text-align: center;
}

hero-content h1
{
    margin: 0;
    font-weight: normal;
    font-size: 3em;
    line-height: 1.5;
}


/*Logo*/

logo
{
    display: block;
    height: 3em;
    width: 2.5em;
    font-size: 1.3em;
    background: url("/assets/images/logo.svg") no-repeat center top;
    background-size: contain;
    text-align: center;
    transition: all .5s ease;
}

.open logo
{
    height: 10em;
    margin: 1em 0 1.5em 0;
}

/*Meta*/

page-meta
{
    border-bottom: 3px solid rgba(44, 62 ,80 , 0.1);
    display: block;
    padding: 1em;
}

page-meta h3
{
    margin: 0;
    float: left;
}

.logout-button
{
    padding-top: 0.15em;
    display: block;
    float: right;
    text-transform: uppercase;
}

stats
{
    display: block;
    border-bottom: 1px solid rgba(44, 62, 80, 0.2);
    padding: 3em 0;
}

stat-container h3
{
    font-weight: normal;
    margin: 0;
}

stat
{
    font-weight: bold;
    font-size: 3em;
}


/*Investments*/

investments
{
    display: block
}

investments > *
{
    margin: 0 1em 1em 1em;
    float: left;
    width: calc((100% / 3) - 1.5em);
}

investments > *:nth-of-type(3n-2)
{
    margin-left: 0;
}

investment
{
    display: block;
    border: 1px solid rgba(44, 62 ,80 , 0.1);
    overflow: hidden;
}

investment .image,
.investment-image
{
    height: 14em;
    width: 14em;
    display: block;
    margin: 1em auto;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    flex-grow: 0;
    background-color: #2c3e50;
    box-sizing: border-box;
}

investment .image.small,
.investment-image.small
{
    width: 3em;
    height: 3em;
}

investment .image.inline,
.investment-image.inline
{
    margin: 0;
    float: left;
    margin-right: .5em;
}

investment investment-content
{
    display: block;
    padding: 1em;
    margin: 0 auto;
    max-width: 100%;
}


/*Highlight-box*/

highlight-box
{
    display: block;
    padding: 2em;
    background-color:#2c3e50;
    color: #fff;
}

h2.section-title
{
    color: #3597d3;
    margin-bottom: 0;
}

/*Images*/

imagesContainer
{
    display: block;
}

.imageContainer
{
    position: relative;
    transition: opacity .5s ease;
    width: 25vw;
    max-width: 16em;
    float: left;
    margin-right: 2em;
}

.imageContainer .image
{
    height: 25vw;
    max-height: 16em;
    background-size: cover;
    background-position: center;
    position: relative;
}


/*Errors and messages*/

message
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color:#fff;
    background-color: #3597d3;
    font-weight: bold;
    padding:1em 0;
    display: block;
    z-index: 99;
    transform: translate(0,-3.5em);
    transition: transform .2s ease;
}

message.show
{
    transform: translate(0,0);
}

message.error
{
    background-color: #e84c3d;
}


/*General*/

.floatleft
{
    float: left!important;
}

.floatright
{
    float: right!important;
}

.floatnone
{
    float: none!important;
}

/*End of results*/

.end_of_results
{
    margin: 2em 0;
    text-align: center;
}

/*no-animate*/

.no-animate,
.no-animate-children *
{
   -webkit-transition: none !important;
   transition: none !important;
}

/*Clearfix*/

clearfix,
.clearfix
{
    display: block;
    clear: both;
}

/*Notification badge*/

badge
{
    display: block;
    position: absolute;
    display: block;
    left: 1em;
    text-indent: 0;
    top: 0.85em;
    animation: badge .5s ease;
}

@keyframes badge
{
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1)
    }
}

badge[data-badge]:after
{
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:.7em;
   background:#e84c3d;
   color:#ebf0f0;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
}

/*Suggestions*/

suggestions
{
    position: absolute;
    top:5em;
    background-color: #ebf0f0;
    z-index: 5;
    display: block;
    width: 100%;
}

suggestion
{
    display: flex;
    padding: 1em;
    cursor: pointer;
    border: solid #2c3e50;
    border-width: 0px 1px 1px 1px;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
}

suggestion.hasImage
{
    padding:0.5em;
    width: 100%;
}

suggestion:hover
{
    background-color: rgba(44, 62, 80, 0.1);
}

suggestion:first-child
{
    border-top-width: 1px;
}

suggestion-image
{
    width: 4em;
    height: 4em;
    display: block;
    background-size: cover;
    border-radius: 50%;
    float:left;
    margin-right: 1em;
}

suggestion span
{
    display: block;
    float: left;
    font-size: 1.5em;
}

/*Loading screen*/

route-loading-indicator h1,
loading h1
{
    display: block;
    position: fixed;
    top: 50%;
    width:100%;
    text-align: center;
    margin-top: -0.5em;
}

/*List*/

.small_li
{
    border-bottom: 1px solid rgba(44, 62 ,80 , 0.1);
    padding: 0.5em 0;
}

.blocklink
{
    display: block;
}

/*Progress*/

progress-box
{
    display: block;
}

progress-box p
{
    margin: 0;
}

inv-progress
{
    display: block;
    padding: 2px;
    background-color: #2c3e50;
    position: relative;
    margin: 0.25em 0;
}

inv-progress p
{
    color: #ebf0f0;
    text-align: center;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0.35em;
    font-weight: bold;
}

progress-fill
{
    display: block;
    height: 1.7em;
    background-color: #3597d3;
    float: left;
}

progress-fill.inCart
{
    background-color:  rgba(53,155,211, 0.7);
}

progress-fill.toAdd
{
    background-color:  rgba(53,155,211, 0.3);
}

.inv-money-box
{
    margin: 1em 0;
}

.inv-money-box p,
.inv-money-box h1
{
    margin: 0;
}

.bottomless
{
    margin-bottom: 0;
}

.headless
{
    margin-top: 0;
}

a.nolink,
a.nolink:hover,
a .nolink,
a:hover .nolink
{
    color: #2c3e50;
}

hr
{
    border: 1px solid rgba(44, 62 ,80 , 0.1);
    margin: 2em 0;
}

hr.small
{
    margin: 1em 0;
}


.borderless
{
    border: none!important;
}

investment .image button
{
    margin-top: calc(50% - 1.1em);
    opacity: 0.2;
}

investment .image:hover button
{
    opacity: 1;
}

investment .image button.floatleft
{
    margin-left: -1.5em;
}

investment .image button.floatright
{
    margin-right: -1.5em;
}

.map
{
    height: 14em;
    background-color: rgba(44, 62 ,80 , 0.1);
}

.invest_amount_box
{
    width: calc(50% - 0.5em);
    margin-top: 0.6em;
}

.invest_amount_box button.big
{
    margin-left: 0;
}

investment.clickable
{
    transition: all .5s ease;
}

investment.clickable:hover
{
    border-color: rgba(44, 62 ,80 , 0.5);
}

footer
{
    display: block;
}

cart
{
    position: absolute;
    right: 0;
    background-color: #d8dfe1;
    z-index: 99;
    padding: 1em;
    width: 20em;
}

cart-item
{
    display: block;
    padding: 0.5em 0;
    position: relative;
    border-bottom: 2px solid rgba(44, 62, 80, 0.2);
}

cart-item:last-child
{
    border-bottom: none;
}

cart-item span.item-name
{
    margin-bottom: 0.5em;
    display: block;
}

cart-item span.item-amount
{
    display: block;
    font-weight: bold;
}

remove
{
    float: right;
    width: 2em;
    height: 2em;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 0;
    text-align: center;
    padding-top: 0.5em;
    box-sizing: border-box;
}


remove::before,
remove::after
{
    position: absolute;
    content: "";
    background: #2c3e50;
    width: 0.1em;
    height: 1.5em;
    top: 0.25em;
    transform: rotate(45deg);
    left: 0.95em;
}



remove::after
{
    transform: rotate(-45deg);
}
