<h1>New investment</h1>
<form name="add_investment" ng-submit="add_investment.$valid && saveInvestment()" novalidate>
    <flex>
        <inputContainer>
            <input type="text" ng-model="investment.name" ng-class="{filled: investment.name}" id="first_input" required>
            <label>Name</label>
        </inputContainer>
        <inputContainer>
            <select ng-model="investment.organization_id" ng-class="{filled: investment.organization_id}" ng-change="changeOrg()" required>
                <option ng-repeat="organization in organizations" value="{{organization.organization_id}}">{{organization.name}}</option>
            </select>
            <label>Organization</label>
        </inputContainer>
    </flex>
    <flex>
        <inputContainer>
            <textarea ng-model="investment.description" ng-class="{filled: investment.description}" required></textarea>
            <label>Description</label>
        </inputContainer>
    </flex>
    <h2 class="section-title">Date of birth</h2>
    <flex>
        <inputContainer>
            <input type="text" pattern="[0-9]*" maxlength="2" ng-model="investment.dob.d" ng-class="{filled: investment.dob.d}" required>
            <label>Date of birth: DD</label>
        </inputContainer>
        <inputContainer>
            <input type="text" pattern="[0-9]*" maxlength="2" ng-model="investment.dob.m" ng-class="{filled: investment.dob.m}" required>
            <label>Date of birth: MM</label>
        </inputContainer>
        <inputContainer>
            <input type="text" pattern="[0-9]*" minlengt="4" maxlength="4" ng-model="investment.dob.y" ng-class="{filled: investment.dob.y}" required>
            <label>Date of birth: YYYY</label>
        </inputContainer>
    </flex>
    <h2 class="section-title">Location</h2>
    <flex>
        <inputContainer>
            <input type="text" ng-model="investment.address" ng-class="{filled: investment.address}" required>
            <label>Location: Address</label>
        </inputContainer>
        <inputContainer>
            <input type="text" ng-model="investment.city" ng-class="{filled: investment.city}" required>
            <label>Location: City</label>
        </inputContainer>
        <inputContainer>
            <input type="text" ng-model="investment.country" ng-class="{filled: investment.country}" required>
            <label>Location: Country</label>
        </inputContainer>
    </flex>

    <h2 class="section-title">Money needed</h2>
    <flex ng-repeat="split in investment.money_split track by $index" ng-class="{toDelete: deletehover}">
        <inputContainer>
            <input type="text" pattern="[0-9]*" ng-model="split.amount" class="filled" ng-change="calcAmount()" required>
            <label>Amount (USD)</label>
        </inputContainer>
        <inputContainer>
            <input type="text" ng-model="split.name" ng-class="{filled: split.name}" required>
            <label>For</label>
        </inputContainer>
        <delete ng-click="removeSplit($index)" ng-mouseover="deletehover = true" ng-mouseleave="deletehover = false"></delete>
    </flex>
    <button type="button" ng-click="addSplit()">Add Split</button>
    <clearfix></clearfix>

    <h2 class="section-title">Images</h2>
    <imagesContainer>
        <div ng-repeat="image in investment.images track by $index" ng-class="{toDelete: deletehover}" class="imageContainer">
            <inputContainer>
                <div class="image" ng-style="{'background-image': 'url(/assets/images/investments/inv_' + investment.investment_id + '/img_' + image + '.jpg)'}"></div>
            </inputContainer>
            <delete ng-click="removeImage($index)" ng-show="investment.images.length + investment.new_images.length > 1" ng-mouseover="deletehover = true" ng-mouseleave="deletehover = false"></delete>
        </div>

        <div ng-repeat="image in investment.new_images track by $index" ng-class="{toDelete: deletehover}" class="imageContainer">
            <inputContainer>
                <input ng-hide="image" type='file' accept="image/*" ng-change="applyImage($index, image.base64)" ng-model='image' class="button" base-sixty-four-input>
                <label class="button" ng-hide="image">ADD IMAGE</label>
                <div ng-show="image" class="image" ng-style="{'background-image': 'url(' + image.data +')', 'transform': 'rotate(' + image.settings.rotation + 'deg)', 'background-position': image.settings.position}"></div>
                <clearfix></clearfix>
            </inputContainer>
            <rotate ng-show="$index < investment.new_images.length - 1" ng-click="rotateImage($index)"></rotate>
            <pos ng-show="$index < investment.new_images.length - 1" ng-click="changeImageAlignment($index)"></pos>
            <delete ng-click="removeNewImage($index)" ng-show="investment.images.length + investment.new_images.length > 2 && image" ng-mouseover="deletehover = true" ng-mouseleave="deletehover = false"></delete>
        </div>
    </imagesContainer>
    <clearfix></clearfix>

    <h2 class="section-title">Status</h2>
    <flex>
        <inputContainer>
            <select ng-model="investment.status" ng-class="{filled: investment.status}">
                <option value="DRAFT">Draft</option>
                <option value="PENDING">Pending</option>
                <option value="LIVE" ng-if="user.permissions.publish_investment">Live</option>
            </select>
            <label>Status</label>
        </inputContainer>
        <inputContainer>
            <input type="text" pattern="[0-9]*" ng-model="investment.amount_needed" class="filled" disabled required>
            <label>Total needed (USD)</label>
        </inputContainer>
    </flex>

    <input type="submit" value="Save">
    <clearfix></clearfix>
</form>
