<stats>
    <flex>
        <h1>Hello {{user.username}}</h1>
    </flex>
    
    <admin-message ng-repeat="message in messages.messages">
        <h3>{{message.title}}</h3>
        <p>
            {{message.message}}
            <span class="floatright"><br><br> - <b>Posted by {{message.username}} on {{message.post_time * 1000 | date}}</b></span>
            <clearfix></clearfix>
        </p>
    </admin-message>
    <br><br><br>
    <form name="add_admin_message" ng-submit="add_admin_message.$valid && submit_admin_message()" ng-show="user.permissions.add_admin_message" novalidate>
        <h2>Add a new message</h2>
        <inputContainer>
            <input type="text" ng-model="new_message.title" ng-class="{filled: new_message.title}" required>
            <label>Title</label>
        </inputContainer>
        <inputContainer>
            <textarea ng-model="new_message.message" ng-class="{filled: new_message.message}" required></textarea>
            <label>Message</label>
        </inputContainer>

        <input type="submit" value="Add message">

    </form>


</stats>
