<h1>Edit user</h1>
<investment>
    <inv class="not-linked">
        <div class="image" ng-if="user.user_id" ng-style="{'background-image': 'url(/assets/images/users/user_' + user.user_id + '.jpg)'}"></div>
        <flex>
            <div>
                <div>
                    Username<br>
                    <h2>{{user.first_name}} {{user.last_name}}</h2>
                </div>
            </div>
            <div>
                <div>
                    Email<br>
                    <h2>{{user.email}}</h2>
                </div>
            </div>
            <div>
                <div>
                    Membership<br>
                    <h2>{{user.membership_name}}</h2>
                </div>
            </div>
        </flex>
    </inv>
    <p ng-show="user.membership_expiry > 0">Membership expires on: <b>{{user.membership_expiry * 1000 | date}}</b></p>
    <br><br>

    <h2>Emails to {{user.first_name}}</h2>
    <div ng-repeat="email in user.emails track by $index" class="small_li">
        <a ng-href="#/edit_email/{{email.email_id}}" class="blocklink">
            <flex>
                <div>
                    <p>
                        <span><b>Subject</b></span><br>
                        {{email.subject}}
                    </p>
                </div>
                <div>
                    <p>
                        <label><b>Message</b></label><br>
                        {{email.message | limitTo: 40}}...
                    </p>
                </div>
                <div>
                    <p>
                        <label><b>Sent on</b></label><br>
                        {{email.sent_time * 1000 | date: 'd MMM yy - hh:mm'}}
                    </p>
                </div>
            </flex>
        </a>
    </div>

    <br><br>
    <a ng-href="#/add_email/single/{{user.user_id}}" class="button">New email</a>
    <br><br>
    <br><br>

    <h2>Orders by {{user.first_name}}</h2>
    <div ng-repeat="order in user.orders track by $index" class="small_li">
        <a ng-href="#/view_order/{{order.order_id}}" class="blocklink">
            <flex>
                <div>
                    <p>
                        <span><b>Order ID</b></span><br>
                        {{order.order_id}}
                    </p>
                </div>
                <div>
                    <p>
                        <label><b>Order total</b></label><br>
                        {{order.order_total | currency}}
                    </p>
                </div>
                <div>
                    <p>
                        <label><b>Order date</b></label><br>
                        {{order.order_time * 1000 | date}}
                    </p>
                </div>
                <div>
                    <p>
                        <label><b>Status</b></label><br>
                        {{order.status | capitalize}}
                    </p>
                </div>
            </flex>
        </a>
    </div>

    <br><br>
</investment>

<br><br>

<form name="edit_user" ng-submit="edit_user.$valid && updateUser()" ng-show="me.permissions.edit_user" novalidate>
    <flex>
        <inputContainer>
            <input type="text" ng-model="user.first_name" ng-class="{filled: user.first_name}" required>
            <label>Firstname</label>
        </inputContainer>
        <inputContainer>
            <input type="text" ng-model="user.last_name" ng-class="{filled: user.last_name}" required>
            <label>Lastname</label>
        </inputContainer>
    </flex>
    <flex>
        <inputContainer>
            <input type="text" ng-model="user.email" ng-class="{filled: user.email}" required>
            <label>Email address</label>
        </inputContainer>
    </flex>

    <div ng-show="me.permissions.change_user_password">
        <h2 class="section-title">Change {{user.first_name}}'s Password</h2>
        <flex>
            <inputContainer>
                <input type="text" ng-model="user.newpassword" ng-class="{filled: user.newpassword}">
                <label>New password</label>
                <br><br>
                <input type="checkbox" ng-model="user.send_mail" id="send_new_password_via_email">
                <label for="send_new_password_via_email">Send to user</label>
            </inputContainer>
        </flex>
    </div>
    <input type="submit" value="Update">
    <clearfix></clearfix>
</form>

<button ng-show="me.permissions.remove_user && !removing_user" ng-click="removing_user = true;" class="red floatleft">Delete this user</button>

<form name="remove_user" ng-submit="remove_user.$valid && removeUser()" ng-show="removing_user">
    <input type="password" ng-model="confirm_password" class="small autowidth floatleft filled">
    <label>Confirm your Password</label>
    <input type="submit" class="big floatleft" value="Confirm removal">
</form>
